{% extends 'base.html' %}
{% block head %}
{#Disabled camera cleanup script for now.
  Re-enable when implementing background stop_camera behavior.
  <script>
    window.addEventListener("beforeunload", function () {
      // Send a background POST request when the user leaves the page
      navigator.sendBeacon("/stop_camera");
    });
  </script>#}
{% endblock %}

{% block body %}
<div class="overview">
  <header class="overview__title">
    <h1>{% block title %}Your Home{% endblock %}</h1>
  </header>

  <section class="overview__temphum">
    <span class="overview__temphum--temperature">{{ temperature }} &deg;{{ temperature_unit }}</span>
    <span class="overview__temphum--humidity">{{ humidity }} %</span>
  </section>
  <section class="overview__camera_feed">
    {% if mode == "stream" %}
    {% include 'overview/stream.html' %}
    {% else %}
    {% include 'overview/snapshot.html' %}
    {% endif %}
  </section>
</div>
  
{% endblock %}
