{% extends 'base.html' %}
{% block head %}
  <!-- <script>
    window.addEventListener("beforeunload", function () {
      // Send a background POST request when the user leaves the page
      navigator.sendBeacon("/stop_camera");
    });
</script> -->
{% endblock %}

{% block header %}
  <h1>{% block title %}Your Home{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% block camera_feed %}
  {% endblock %}
  <div>
    <h2>Temperature and Humidity</h2>
    <p>Temperature: {{ temperature }} &deg;{{ temperature_unit }}</p>
    <p>Humidity: {{ humidity }} %</p>
  </div>
{% endblock %}
