<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %} - Securypi</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  {% block head %}{% endblock %}
</head>
<body>
  {{ include "navbar.html" }}
  
  {% block body_flash %}{% endblock %}
  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  <header>
    {% block body_header %}{% endblock %}
  </header>
  
  {% block body_content %}{% endblock %}
</body>
</html>
