<!doctype html>
<html>
<head>
  <title>{% block title %}{% endblock %} - Securypi</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  {% block head %}{% endblock %}
</head>
<body class="grid">
  {% include "includes/navbar.html" %}

  <div class="site__content">
    {#
    {% block body_flash %}{% endblock %}
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    #}

    {% block body %}{% endblock %}
  </div>
</body>
</html>
