# macOS system files, recursively:
**/.DS_Store

##
# python
##
.venv/

*.pyc
__pycache__/

# build directories
build/
dist/

# package metadata
*.egg-info/

# testing
.pytest_cache/
.coverage
htmlcov/

##
# flask
##
instance/
*.env



###
# to ignore local changes in app_run.sh (changing ports), run:
# git update-index --assume-unchanged scripts/app_run.sh
