# BASIC application pip requirements

# Web Framework
Flask>=3.1.1, <4.0
Flask-SQLAlchemy>=3.1.1, <4.0
zipstream-ng>=1.9.0, <2.0

# Mock libraries dependencies for platform-independent development
Pillow>=11.1.0, <12.0

# Testing
pytest>=9.0, <10.0
