# Web Framework
Flask>=2.0


# Camera Libraries
picamera2
simplejpeg

# Temperature and Humidity Sensor Libraries
adafruit-circuitpython-dht
RPi.GPIO
lgpio
Adafruit-Blinka

# Mock libraries for development
Pillow