html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: row;

  background-color: #0a1421;
  color: white;
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);    
}
/* 
.site__content {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
} */


/*
***                                 ***
        ***  NAVIGATION   ***
***                                 ***
*/

.navbar {
  grid-column: 1;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;

  background-color: #1B1A55;
}

.navbar__main {
  display: grid;
  grid-auto-rows: 3em;
  row-gap: 8px;
  margin-top: 0.2rem;
}

.navbar__bottom {
  display: grid;
  grid-auto-rows: 3em;
  row-gap: 8px;
  margin-top: auto; /* pushes this section to the bottom */
  margin-bottom: 1rem;
}


.navbar a {
  padding: 1em;
}


/*
***                                 ***
        ***  OVERVIEW   ***
***                                 ***
*/

.overview {
  display: contents; /* include children to main page grid */
  grid-template-rows: 1fr 1fr;
}

.overview__title {
  grid-column: 2 / 5;
  grid-row: 1;
  margin-left: 6vw;
  /* margin-top: 3rem; */
  align-self: center;
}

.overview__temphum {
  grid-column: 7 / 12;
  grid-row: 1;
}

.overview__camera_feed {
  grid-column: 2 / 12;
  grid-row: 2;
  justify-self: center;
  align-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.overview__camera_feed--title {
  grid-column: 1;
  grid-row: 1;
}

#overview__camera_feed {
  grid-column: 1 / 3;
  grid-row: 2;

  width: 70vw;
  max-width: 70vw;
  height: auto;
  max-height: 65vh;
  object-fit: contain;

}

.overview__camera_feed--switch {
  grid-column: 1;
  grid-row: 3;
}

.overview__camera_feed--refresh {
  grid-column: 2;
  grid-row: 3;
  max-width: 8rem;
  justify-self: right;
}


.overview__temphum {
    grid-column: 9 / 12;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 3vw;
}

.overview__temphum--tem {
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

.overview__temphum--hum {
    grid-column: 2;
    align-self: center;
    justify-self: center;
}