html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: row;

  background-color: #0a1421;
  color: white;
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);    
}
/* 
.site__content {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
} */


/*
***                                 ***
        ***  NAVIGATION   ***
***                                 ***
*/

.navbar {
  grid-column: 1;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;

  background-color: #1B1A55;
}

.navbar__main {
  display: grid;
  grid-auto-rows: 3em;
  row-gap: 8px;
}

.navbar__bottom {
  display: grid;
  grid-auto-rows: 3em;
  row-gap: 8px;
  margin-top: auto; /* pushes this section to the bottom */
  margin-bottom: 1em;
}


.navbar a {
  padding: 1em;
}


/*
***                                 ***
        ***  OVERVIEW   ***
***                                 ***
*/

.overview_content {
  display: contents; /* include children to main page grid */
  grid-template-rows: 1fr 1fr;
}

.overview_content__title {
  grid-column: 3 / 6;
  grid-row: 1;
}

.overview_content__temphum {
  grid-column: 7 / 12;
  grid-row: 1;
}

.overview_content__camera_feed {
  grid-column: 2 / 12;
  grid-row: 2;
  justify-self: center;
  align-self: center;

  display: flex;
  flex-direction: column;
}

.overview_content__camera_feed img {
  width: 70vw;
  max-width: 70vw;
  height: auto;
  max-height: 65vh;
  object-fit: contain;

}

.overview_content__camera_feed button {
  max-width: 8rem;
}