:root {
  --title-color: white;
  --text-color: white;
  --nav-link-color: rgb(251, 255, 222);
  --nav-link-color-active: rgb(243, 255, 156);
  --background-primary: #0a1421;
  --background-nav: #1B1A55;

  --overview__camera_feed-switch-color: #ff3a3a;
}
/* @TODO add root variables for colors ...) */


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
/* @TODO change html font!) */


body {
  background-color: var(--background-primary);
  color: var(--text-color);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 11fr;
  /* the main body grid for laying out navigation and the rest of the content */
}



/*
***                                 ***
        ***  NAVIGATION   ***
***                                 ***
*/

.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;

  background-color: var(--background-nav);
}

.navbar__main {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
  margin-top: 0.2rem;
}

.navbar__bottom {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
  margin-top: auto; /* pushes this section to the bottom */
  margin-bottom: 1rem;
}


.navbar a {
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1em;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar a.link--active {
  color: var(--nav-link-color-active);
  font-weight: bold;
}




/*
***                                 ***
         ***  LOGIN   ***
***                                 ***
*/

/* @TODO Login layout)
.login {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: auto;
} */



/*
***                                 ***
         ***  OVERVIEW   ***
***                                 ***
*/

.overview {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

.overview__title {
  grid-column: 1 / 4;
  grid-row: 1;
  margin-left: 6vw;
  /* margin-top: 3rem; */
  align-self: center;
}

.overview__temphum {
    grid-column: 7 / 12;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 3vw;
    margin-right: 2em;
}

.overview__temphum--temperature {
    grid-column: 1;
    align-self: center;
    justify-self: center;
}

.overview__temphum--humidity {
    grid-column: 2;
    align-self: center;
    justify-self: center;
}

.overview__temphum--pressure {
    grid-column: 3;
    align-self: center;
    justify-self: center;
}

.overview__camera_feed {
  grid-column: 1 / 11;
  grid-row: 2;
  justify-self: center;
  align-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 1em;
}

.overview__camera_feed--title {
  grid-column: 1;
  grid-row: 1;
}

#overview__camera_feed {
  grid-column: 1 / 3;
  grid-row: 2;

  width: 70vw;
  max-width: 70vw;
  height: auto;
  max-height: 65vh;
  object-fit: contain;

}

.overview__camera_feed--switch {
  grid-column: 1;
  grid-row: 3;
  
  color: var(--overview__camera_feed-switch-color);
  text-decoration: none;
}

.overview__camera_feed--switch:hover {
  text-decoration: underline;
}


.overview__camera_feed--refresh {
  grid-column: 2;
  grid-row: 3;
  max-width: 8rem;
  justify-self: right;
}



/*
***                               ***
      ***  User settings   ***
***                               ***
*/

/* 
.user_settings { @TODO fix above)
    grid-template-rows: 1fr 3fr;
} */

.user_settings__title {
    grid-column: 3 / 7;
    grid-row: 1;
}

.user_settings__user_type {
    grid-column: 2 / 5;
    grid-row: 2;

    margin: 5rem;
}


/* @TODO responsive layout) */
/* 
@media (max-width: 959px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 11fr;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    background-color: #1B1A55;
    padding: 0.5rem;
  }

  .navbar__main {
    display: flex;
    flex-direction: row;
    margin-top: auto;
  }

  .navbar__bottom {
    display: flex;
    flex-direction: row;

    margin-left: auto;
    margin-bottom: auto;
  }

.overview {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 100vw;
	height: auto;
}
}
*/