:root {
  --title-color: white;
  --text-color: white;
  --nav-link-color: rgb(251, 255, 222);
  --nav-link-color-active: rgb(242, 255, 0);
  --background-primary: #0a1421;
  --background-secondary: #142556;
  --background-ternary: rgb(42, 15, 121);
  --flash-warning-color: rgb(223, 145, 0);
  --recording-link-color: rgba(211, 211, 211, 0.771);

  --overview__camera_feed-switch-color: white;

  --content-span-grid-columns: 2 / -1; /* first column is navbar */
  --content-span-grid-rows: 1 / -1;

  --nav-link-size: 1.1rem;
}

/* debug: */
/* * { outline: 1px solid red; } */


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100dvh;
  width: 100dvw;

  font-family: "Arial";
}

body {
  background-color: var(--background-primary);
  color: var(--text-color);
}



/* universal */

.text_color_danger {
  color: red;
}

.text_color_go {
  color: green;
}

.background_color_go {
  background-color: green;
}

.background_color_danger {
  background-color: red;
}

.button_mild_round {
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
}

.button_mild_round:hover {
  opacity: 0.85;
}



/*
***                           ***
        ***  LAYOUT   ***
***                           ***
*/



/* the main body grid for laying out navigation and site_content */
.grid {
  display: grid;
  grid-template-columns: auto 11fr;
  grid-template-rows: auto;
}

.site_content {
  grid-column: var(--content-span-grid-columns);
  grid-row: var(--content-span-grid-rows);
  
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;

  overflow-y: auto; /* overflow this section, keep navigation fixed */
}


.flash {
  grid-column: 1 / -1;
  grid-row: 1; /* site_content: at the top */

  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */

  padding: 0.8em; /* padding with special background */

  background-color: var(--flash-warning-color);
  font-size: 1.2em;
  font-weight: bold;
}



/*
***                                 ***
        ***  NAVIGATION   ***
***                                 ***
*/

.navbar {
  grid-column: 1;
  grid-row: 1;

  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;

  background-color: var(--background-secondary);

  font-size: var(--nav-link-size);
}

.navbar__main {
	display: flex;
	flex-direction: column;
  margin-top: 0.2rem;
}

.navbar__bottom {
	display: flex;
	flex-direction: column;
  margin-top: auto; /* pushes this section to the bottom */
  margin-bottom: 1rem;
}


.navbar a {
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1em;

  padding-left: 1.3em;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar a.link--active {
  color: var(--nav-link-color-active);
  font-weight: bold;
}




/*
***                                 ***
         ***  LOGIN   ***
***                                 ***
*/

.login {
  grid-column: 1 / -1; /* full width */
  grid-row: var(--content-span-grid-rows);
  
  /* Fill available space */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13rem;
}

.auth__form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  background: var(--background-secondary);
  padding: 2rem;
  border-radius: 10px;
  width: 260px;

  /* box-shadow: 0 0 20px rgba(52, 52, 52, 0.4); */
}

/* Inputs */
.auth__form input {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.auth__form--submit {
  margin-top: 0.5rem;
  cursor: pointer;
  background: var(--nav-link-color);
  color: black;
  font-weight: bold;
}

.auth__form input[type="submit"]:hover {
  opacity: 0.85;
}


/*
***                                 ***
         ***  OVERVIEW   ***
***                                 ***
*/

.overview {
  grid-column: 1 / -1;
  grid-row: 2; /* site content: below flash messages */

  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto auto;
}

.overview__title {
  grid-column: 1 / 4;
  grid-row: 1;
  margin-left: 6vw;
  /* margin-top: 3rem; */
  align-self: center;
}

.overview__measurements {
  grid-column: 6 / 12;
  grid-row: 1;
  align-self: center;

  display: flex;
  flex-direction: column;

  font-size: 3vw;
  margin-top: 0.5em;
  margin-left: 1em;
}

.overview__temphum {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.overview__pressures {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.overview__measurements--value {
  justify-self: left;  /* grid: alignment along the main axis (horizontal) */
  align-self: center;  /* cross axis (vertical) */
  margin: 1rem 0;
}

.overview__pressures--pressure_variant {
  font-size: 0.7em;
}

.overview__camera_feed {
  grid-column: 1 / 11;
  grid-row: 2;
  justify-self: center;
  align-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  margin-bottom: 1em;
}

.overview__camera_feed--title {
  grid-column: 1 / -1;
  grid-row: 1;
}

#overview__camera_feed--output {
  grid-column: 1 / 3;
  grid-row: 2;
  
  aspect-ratio: 16 / 9;
  width: 70vw;
  max-width: 70vw;
  height: auto;
  max-height: 65vh;
  object-fit: contain;
  margin: 0.5em 0em;
}

.overview__camera_feed--switch {
  grid-column: 1;
  grid-row: 3;
  
  color: var(--overview__camera_feed-switch-color);
  text-decoration: none;
  align-self: center;
}

.overview__camera_feed--switch:hover {
  text-decoration: underline;
}


.overview__camera_feed--refresh {
  grid-column: 2;
  grid-row: 3;
  max-width: 8rem;
  min-width: 5.5rem;
  height: 2rem;
  justify-self: end;
}



/*
***                             ***
      ***  MEASUREMENTS   ***
***                             ***
*/

.measurements {
  grid-column: 1 / -1;
  grid-row: 2; /* site content: below flash messages */

  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: min-content repeat(3, 30em);

  margin: 1em;
}

.measurements__title {
  grid-column: 1 / 12;
  grid-row: 1;

  margin-bottom: 1em;
}

.measurements__graph {
  margin-bottom: 1em;
}

.measurements__graph--temp {
  grid-column: 1 / 12;
  grid-row: 2;
}

.measurements__graph--hum {
  grid-column: 1 / 12;
  grid-row: 3;
}

.measurements__graph--pres {
  grid-column: 1 / 12;
  grid-row: 4;
}

.measurements__graph--temp,
.measurements__graph--hum,
.measurements__graph--pres {
  border-radius: 5px;
  overflow: hidden;
  background: #242424;
}



/*
***                              ***
      ***  Camera control   ***
***                              ***
*/

.camera_control {
  grid-column: 1 / -1;
  grid-row: 2; /* site content: below flash messages */

  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto 1fr;
  
  margin: 1em;
}

.camera_control__title {
  grid-column: 1 / 12;
  grid-row: 1;

  margin-bottom: 1em;
}

.camera_control__background_tasks {
  grid-column: 1 / 12;
  grid-row: 2;

  margin-left: 1em;
}

.camera_control__recording {
  display: flex;
  flex-direction: column;

  margin-bottom: 2em;
}

.camera_control__motion_capturing {
  display: flex;
  flex-direction: column;
}

.camera_control__action {
  margin-top: 0.3em;
}



/*
***                           ***
      ***  Recordings   ***
***                           ***
*/

.recordings {
  grid-column: 1 / -1;
  grid-row: 2; /* site content: below flash messages */

  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto 1fr auto;

  margin: 1em;
}

.recordings__title {
  grid-column: 1 / 12;
  grid-row: 1;
}

#recordings__form {
  display: contents; /* positioning its children */
}

.recordings__list {
  display: contents; /* positioning its children */
}


.recordings__form--check_all {
  display: inline-block; /* required for span positioning */
  margin-bottom: 0.5rem;
}

.recordings__list--item a {
  color: var(--recording-link-color);
}

.recordings__list--motion_captures {
  grid-column: 1 / 6;
  grid-row: 2;

  display: flex;
  flex-direction: column;

  margin-left: 1em;
}

.recordings__list--recordings {
  grid-column: 6 / 12;
  grid-row: 2;

  display: flex;
  flex-direction: column;
}

.recordings__form--submit_buttons {
  grid-column: 1 / 12;
  grid-row: 3;
  display: flex;
  justify-content: space-between;

  margin-top: 2em;
  margin-bottom: 1em;
}

.recordings__form--submit_buttons button {
  height: 2.5em;
  min-width: 10em;
  color: white;

  margin-left: 1em;
}



/*
***                            ***
      ***  Configure   ***
***                            ***
*/

.configure {
  grid-column: 1 / -1;
  grid-row: 2; /* site content: below flash messages */

  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto 1fr;

  margin: 1em;
}

.configure__title {
  grid-column: 1 / 12;
  grid-row: 1;

  margin-bottom: 1em;
}

.configure__weather_logging {
  grid-column: 1 / 12;
  grid-row: 2;

  margin-left: 1em;
}



/*
***                               ***
      ***  User settings   ***
***                               ***
*/

.user_settings {
  grid-column: 1 / -1;
  grid-row: 2; /* site content: below flash messages */

  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(3, min-content);

  margin: 1em;
}

.user_settings__title {
  grid-column: 1 / 12;
  grid-row: 1;

  margin-bottom: 1em;
}

.user_settings__user_type {
  grid-column: 1 / 12;
  grid-row: 2;

  margin-left: 1em;
}

.user_settings__change_password {
  margin-top: 2em;
  margin-left: 1em;
}

.user_settings__change_password--current {
  margin-bottom: 1em;
}

.user_settings__change_password .auth__form--submit {
  margin-top: 2em;
}

.user_settings__change_password .auth__form {
  background-color: var(--background-ternary);
}


@media (max-width: 647px) {

  :root {
    --content-span-grid-columns: 1 / -1; /* now site conent spans full width */
    --content-span-grid-rows: 2; /* navigation moved to the top */

    --nav-link-size: 3.3vw;
  }

  /* add new row at the top for navbar */
  .grid {
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
  }

  /*
   * NAVIGATION
  */
  .navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; /* override */
    box-sizing: border-box;

    font-size: var(--nav-link-size);
  }

  .navbar__main,
  .navbar__bottom {
    flex-direction: row;
  }
  
  .navbar__bottom {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
  }
  
  .navbar a {
    color: var(--nav-link-color);
    text-decoration: none;
  }

  .navbar__main a {
    padding-bottom: 0.9rem;
  }

  /*
   * OVERVIEW
  */

  .overview__measurements {
    grid-column: 6 / 12;
    grid-row: 1;
    align-self: center;

    display: flex;
    flex-direction: column;

    font-size: 6vw;
  }

  .overview__pressures,
  .overview__temphum {
    display: contents;
  }

  .overview__measurements--value {
    align-self: flex-start;
    margin: 0.2rem;
  }

  .overview__camera_feed {
    grid-column: 1 / 12;
    grid-template-rows: auto 2fr auto 1fr; /* push camera feed up */
  }

  #overview__camera_feed--output {
    width: 95vw;
    max-width: 95vw;
    height: auto;
    max-height: auto;
    object-fit: contain;
  }

  .overview__camera_feed--refresh {
    height: 3rem;
  }

  /*
   * MEASUREMENTS
  */
  .measurements {
    margin: 1em 0.5em;
  }

  .measurements__title {
    font-size: 6.5vw;

    margin-left: 0.5em;
  }

  /*
   * RECORDINGS
  */
  .recordings__title {
    grid-column: 1 / 5;
    grid-row: 1;
  }

  /* recordings above motion captures spanning full width */
  .recordings__list {
    grid-column: 1 / 12;
    grid-row: 2;

    display: flex;
    flex-direction: column;
  }

  .recordings__list--motion_captures {
    margin-left: 1em;
  }

  .recordings__list--recordings {
    margin-left: 1em;
    margin-top: 1em;
  }
  
  /*
   * USER SETTINGS
   */
  .user_settings__user_type,
  .user_settings__change_password {
    margin-left: 0em;
  }
}
