:root {
  --title-color: white;
  --text-color: white;
  --nav-link-color: rgb(251, 255, 222);
  --nav-link-color-active: rgb(211, 0, 0);
  --background-primary: #0a1421;
  --background-nav: #1B1A55;

  --overview__camera_feed-switch-color: #ff3a3a;
}
/* @TODO add root variables for colors ...) */

/* debug: */
/* * { outline: 1px solid red; } */


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  /* debug: */
  /* overflow-x: hidden; */
}
/* @TODO change html font!) */


body {
  background-color: var(--background-primary);
  color: var(--text-color);
}

/* the main body grid for laying out navigation and the rest of the site */
.grid {
  display: grid;
  grid-template-columns: 1fr 11fr;
}


/* 
- flash messages
- the rest of the content in second row
*/
.site_content {
  grid-column: 2;
  display: grid;
  grid-template-rows: auto 1fr;
}


.flash {
  grid-column: 1;
  grid-row: 1;

  margin: 1em;
}



/*
***                                 ***
        ***  NAVIGATION   ***
***                                 ***
*/

.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;

  background-color: var(--background-nav);
}

.navbar__main {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
  margin-top: 0.2rem;
}

.navbar__bottom {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
  margin-top: auto; /* pushes this section to the bottom */
  margin-bottom: 0.9em;
}


.navbar a {
  color: var(--nav-link-color);
  text-decoration: none;
  margin: 1em;

  margin-left: 1.3em;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar a.link--active {
  color: var(--nav-link-color-active);
  font-weight: bold;
}




/*
***                                 ***
         ***  LOGIN   ***
***                                 ***
*/

.login {
  grid-row: 2; /* site content - below flash messages */
  width: 10em;
  height: 6em;
}



/*
***                                 ***
         ***  OVERVIEW   ***
***                                 ***
*/

.overview {
  grid-row: 2; /* site content - below flash messages */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto min-content;
}

.overview__title {
  grid-column: 1 / 4;
  grid-row: 1;
  margin-left: 6vw;
  /* margin-top: 3rem; */
  align-self: center;
}

.overview__temphum {
  grid-column: 6 / 12;
  grid-row: 1;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  font-size: 3vw;
  margin: 1em;
}

.overview__temphum--temperature,
.overview__temphum--humidity,
.overview__temphum--pressure {
  align-self: center;          /* vertical alignment inside the box */
  justify-self: center;  /* horizontal alignment inside the box */
  margin: 1rem 0;
}

.overview__camera_feed {
  grid-column: 1 / 11;
  grid-row: 2;
  justify-self: center;
  align-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  margin-bottom: 1em;
}

.overview__camera_feed--title {
  grid-column: 1;
  grid-row: 1;
}

#overview__camera_feed {
  grid-column: 1 / 3;
  grid-row: 2;

  width: 70vw;
  max-width: 70vw;
  height: auto;
  max-height: 65vh;
  object-fit: contain;
  margin: 0.5em 0em;
}

.overview__camera_feed--switch {
  grid-column: 1;
  grid-row: 3;
  
  color: var(--overview__camera_feed-switch-color);
  text-decoration: none;
}

.overview__camera_feed--switch:hover {
  text-decoration: underline;
}


.overview__camera_feed--refresh {
  grid-column: 2;
  grid-row: 3;
  max-width: 8rem;
  justify-self: right;
}



/*
***                            ***
      ***  Temperature   ***
***                            ***
*/

.temperature {
  grid-row: 2;  /* site content - below flash messages */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto 1fr;

  margin: 1em;
}

.temperature__title {
  grid-column: 1 / 12;
  grid-row: 1;

  margin-bottom: 1em;
}

.temperature__content_todo {
  grid-column: 1 / 12;
  grid-row: 2;

  margin-left: 1em
}




/*
***                              ***
      ***  Camera control   ***
***                              ***
*/

.camera_control {
  grid-row: 2;  /* site content - below flash messages */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto 1fr;
  
  margin: 1em;
}

.camera_control__title {
  grid-column: 1 / 12;
  grid-row: 1;

  margin-bottom: 1em;
}

.camera_control__background_tasks {
  grid-column: 1 / 12;
  grid-row: 2;

  margin-left: 1em;
}

.camera_control__recording {
  margin-bottom: 2em;
}



/*
***                           ***
      ***  Recordings   ***
***                           ***
*/

.recordings {
  grid-row: 2;  /* site content - below flash messages */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto 1fr auto;

  margin: 1em;
}

.recordings__title {
  grid-column: 1 / 12;
  grid-row: 1;
}

.recordings__form {
  display: contents; /* positioning its children */
}

.recordings__list {
  display: contents; /* positioning its children */
}

.recordings__list--motion_captures {
  grid-column: 1 / 6;
  grid-row: 2;

  margin-left: 1em;
}

.recordings__list--recordings {
  grid-column: 6 / 12;
  grid-row: 2;
}

.recordings__buttons {
  grid-column: 1 / 12;
  grid-row: 3;
  display: flex;
  justify-content: space-between;
}

.recordings__buttons--download {
  background-color: green;

  margin-left: 1em;
}

.recordings__buttons--delete {
  background-color: red;
}



/*
***                            ***
      ***  Configure   ***
***                            ***
*/

.configure {
  grid-row: 2;  /* site content - below flash messages */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto 1fr;

  margin: 1em;
}

.configure__title {
  grid-column: 1 / 12;
  grid-row: 1;

  margin-bottom: 1em;
}

.configure__weather_logging {
  grid-column: 1 / 12;
  grid-row: 2;

  margin-left: 1em;
}



/*
***                               ***
      ***  User settings   ***
***                               ***
*/

.user_settings {
  grid-row: 2;  /* site content - below flash messages */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto 1fr;

  margin: 1em;
}

.user_settings__title {
  grid-column: 1 / 12;
  grid-row: 1;

  margin-bottom: 1em;
}

.user_settings__user_type {
  grid-column: 1 / 12;
  grid-row: 2;

  margin-left: 1em;
}



@media (max-width: 647px) {
  .recordings__title {
    grid-column: 1 / 5;
    grid-row: 1;
  }

  /* recordings above motion captures spanning full width */
  .recordings__list {
    grid-column: 1 / 12;
    grid-row: 2;

    display: flex;
    flex-direction: column;
  }

  .recordings__list--motion_captures {
    margin-left: 1em;
  }

  .recordings__list--recordings {
    margin-left: 1em;
  }


  .grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
  }

  .site_content {
    grid-column: 1;
    grid-row: 2;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto; /* override */
    box-sizing: border-box;

    font-size: 3.3vw;
  }

  .navbar__main,
  .navbar__bottom {
    flex-direction: row;
  }

  .navbar a {
    color: var(--nav-link-color);
    text-decoration: none;
  }

  .overview__temphum {
    grid-column: 6 / 12;
    grid-row: 1;
    align-self: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, 1fr);

    font-size: 6vw;
  }

  .overview__temphum--temperature,
  .overview__temphum--humidity,
  .overview__temphum--pressure {
    margin: 0.2rem;
  }

  .overview__camera_feed {
    grid-column: 1 / 12;
    grid-template-rows: auto 2fr auto 1fr; /* push camera feed up */
  }

  #overview__camera_feed {
    width: 95vw;
    max-width: 95vw;
    height: auto;
    max-height: auto;
    object-fit: contain;
  }

}
