:root {
  --title-color: white;
  --text-color: white;
  --nav-link-color: rgb(251, 255, 222);
  --nav-link-color-active: rgb(243, 255, 156);
  --background-primary: #0a1421;
  --background-nav: #1B1A55;

  --overview__camera_feed-switch-color: #ff3a3a;
}
/* @TODO add root variables for colors ...) */


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
/* @TODO change html font!) */


body {
  background-color: var(--background-primary);
  color: var(--text-color);
}

/* the main body grid for laying out navigation and the rest of the site */
.grid {
  display: grid;
  grid-template-columns: 1fr 11fr;
}

.site_content {
  display: grid;
  grid-template-rows: auto 1fr;
  /* 
  - flash messages
  - the rest of the content in second row
  */
}


.flash {
  grid-column: 1;
  grid-row: 1;

  margin: 1em;
}



/*
***                                 ***
        ***  NAVIGATION   ***
***                                 ***
*/

.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;

  background-color: var(--background-nav);
}

.navbar__main {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
  margin-top: 0.2rem;
}

.navbar__bottom {
	display: flex;
	flex-direction: column;
	row-gap: 8px;
  margin-top: auto; /* pushes this section to the bottom */
  margin-bottom: 1rem;
}


.navbar a {
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1em;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar a.link--active {
  color: var(--nav-link-color-active);
  font-weight: bold;
}




/*
***                                 ***
         ***  LOGIN   ***
***                                 ***
*/

/* @TODO Login layout)
.login {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: auto;
} */



/*
***                                 ***
         ***  OVERVIEW   ***
***                                 ***
*/

.overview {
  grid-row: 2; /* site content - below flash messages */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

.overview__title {
  grid-column: 1 / 4;
  grid-row: 1;
  margin-left: 6vw;
  /* margin-top: 3rem; */
  align-self: center;
}

.overview__temphum {
  grid-column: 6 / 12;
  grid-row: 1;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 3vw;
  margin-right: 1em;
  margin-left: 1em;
}

.overview__temphum--temperature {
  grid-column: 1;
  grid-row: 1;
  align-self: center;          /* vertical alignment inside the box */
  justify-self: center;  /* horizontal alignment inside the box */
}

.overview__temphum--humidity {
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  justify-self: center;
}

.overview__temphum--pressure {
  grid-column: 3;
  grid-row: 1;
  align-self: center;
  justify-self: center;
}

.overview__camera_feed {
  grid-column: 1 / 11;
  grid-row: 2;
  justify-self: center;
  align-self: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 1em;
}

.overview__camera_feed--title {
  grid-column: 1;
  grid-row: 1;
}

#overview__camera_feed {
  grid-column: 1 / 3;
  grid-row: 2;

  width: 70vw;
  max-width: 70vw;
  height: auto;
  max-height: 65vh;
  object-fit: contain;

}

.overview__camera_feed--switch {
  grid-column: 1;
  grid-row: 3;
  
  color: var(--overview__camera_feed-switch-color);
  text-decoration: none;
}

.overview__camera_feed--switch:hover {
  text-decoration: underline;
}


.overview__camera_feed--refresh {
  grid-column: 2;
  grid-row: 3;
  max-width: 8rem;
  justify-self: right;
}



/*
***                            ***
      ***  Temperature   ***
***                            ***
*/

.temperature {
  grid-row: 2;  /* site content - below flash messages */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto 1fr;

  margin: 1em;
}

.temperature__title {
  grid-column: 1 / 5;
  grid-row: 1;

  margin-bottom: 1em;
}

.temperature__content_todo {
  grid-column: 1 / 12;
  grid-row: 2;

  margin-left: 1em
}




/*
***                              ***
      ***  Camera control   ***
***                              ***
*/

.camera_control {
  grid-row: 2;  /* site content - below flash messages */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto 1fr;
  
  margin: 1em;
}

.camera_control__title {
  grid-column: 1 / 5;
  grid-row: 1;

  margin-bottom: 1em;
}

.camera_control__background_tasks {
  grid-column: 1 / 5;
  grid-row: 2;

  margin-left: 1em;
}

.camera_control__recording {
  margin-bottom: 2em;
}



/*
***                           ***
      ***  Recordings   ***
***                           ***
*/

.recordings {
  grid-row: 2;  /* site content - below flash messages */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto 1fr auto;

  margin: 1em;
}

.recordings__title {
  grid-column: 1 / 5;
  grid-row: 1;
}

.recordings__form {
  display: contents; /* positioning its children */
}

.recordings__motion_captures {
  grid-column: 1 / 6;
  grid-row: 2;

  margin-left: 1em;
}

.recordings__recordings {
  grid-column: 5 / 12;
  grid-row: 2;
}

.recordings__buttons {
  grid-column: 1 / 12;
  grid-row: 3;
  display: flex;
  justify-content: space-between;
}

.recordings__buttons--download {
  background-color: green;

  margin-left: 1em;
}

.recordings__buttons--delete {
  background-color: red;
}



/*
***                            ***
      ***  Configure   ***
***                            ***
*/

.configure {
  grid-row: 2;  /* site content - below flash messages */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto 1fr;

  margin: 1em;
}

.configure__title {
  grid-column: 1 / 5;
  grid-row: 1;

  margin-bottom: 1em;
}

.configure__weather_logging {
  grid-column: 1 / 12;
  grid-row: 2;

  margin-left: 1em;
}



/*
***                               ***
      ***  User settings   ***
***                               ***
*/

.user_settings {
  grid-row: 2;  /* site content - below flash messages */
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto 1fr;

  margin: 1em;
}

.user_settings__title {
  grid-column: 1 / 5;
  grid-row: 1;

  margin-bottom: 1em;
}

.user_settings__user_type {
  grid-column: 1 / 5;
  grid-row: 2;

  margin-left: 1em;
}


/* @TODO responsive layout) */
/* 
@media (max-width: 959px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 11fr;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    background-color: #1B1A55;
    padding: 0.5rem;
  }

  .navbar__main {
    display: flex;
    flex-direction: row;
    margin-top: auto;
  }

  .navbar__bottom {
    display: flex;
    flex-direction: row;

    margin-left: auto;
    margin-bottom: auto;
  }

.overview {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr 1fr;
  width: 100vw;
	height: auto;
}
}
*/
