{% extends 'base.html' %}

{% block title %}Account{% endblock %}

{% block site_content %}
<div class="account">
	<header class="account__title">
		<h1>Account: {{ g.user["username"] }}</h1>
	</header>
  <span class="account__user_type">
    You {% if g.user["is_admin"] == False %}are standard user.{% else %}have administrator rights.{% endif %}
  </span>

	<div class="account__change_password">
    <h2>Change your password:</h2>
		<form method="post" class="auth__form">
			<label for="current_password">Current password</label>
			<input class="account__change_password--current" type="password" name="current_password" required>

			<label for="new_password">New password</label>
			<input type="password" name="new_password" required>

      <label for="new_password_again">New password again</label>
			<input type="password" name="new_password_again" required>

			<input class="auth__form--submit" type="submit" value="Change password">
		</form>
	</div>
</div>
{% endblock %}