{% extends 'base.html' %}

{% block title %}Account{% endblock %}

{% block site_content %}
<div class="account">
	<header class="account__title">
		<h1>Account: {{ g.user["username"] }}</h1>
	</header>

  <section class="account__info">
    <h2>Account information</h2>
    <form method="post">
      <ul class="account__info_list">
        {% for key in account_details %}

        {% if key == "admin" %}
        <li class="account__info_list--item">
          <span>{{ key }}:</span>
          <span>{{ account_details[key] }}</span>
        </li>
        {% else %}
        <li class="account__info_list--item">
          {{ key }}:
			    <input class="my_form_input" name="{{ key }}" value="{{ account_details[key] }}">
        </li>
        {% endif %}

        {% endfor %}
        <button class="button_submit button_mild_round" type="submit" name="action" value="update_account_details">
          Update
        </button>
      </ul>
		</form>
  </section>

	<section class="account__change_password">
    <h2>Change your password:</h2>
		<form method="post" class="auth__form">
			<label for="current_password">Current password</label>
			<input class="account__change_password--current" type="password" name="current_password" required>

			<label for="new_password">New password</label>
			<input type="password" name="new_password" required>

      <label for="new_password_again">New password again</label>
			<input type="password" name="new_password_again" required>

			<button class="button_submit button_mild_round" type="submit" name="action" value="change_password">
        Change password
      </button>
		</form>
	</section>
</div>
{% endblock %}