{% extends 'base.html' %}
{% from 'includes/macros.html' import action_form %}

{% block site_content %}
<div class="camera_control">
  <h1 class="camera_control__title">{% block title %}Camera Control{% endblock %}</h1>

  <section class="camera_control__background_tasks camera_control__recording">
    <h2>Recording to a file</h2>
    {% if is_recording %}
    <span>Recording is running</span>
    {% call action_form(url_for('camera_control.stop_recording')) %}
      <button type="submit" class="distinguished_link text_color_danger">Stop recording</button>
    {% endcall %}
    {% else %}
    <span>Currently not running a recording</span>
    {% call action_form(url_for('camera_control.start_recording')) %}
      <button type="submit" class="distinguished_link text_color_go">Start recording</button>
    {% endcall %}
    {% endif %}
  </section>

  <section class="camera_control__background_tasks camera_control__motion_capturing">
    <h2>Motion Capturing</h2>
    {% if is_motion_capturing %}
    <span>Detecting and capturing motion</span>
    {% call action_form(url_for('camera_control.stop_motion_capturing')) %}
      <button type="submit" class="distinguished_link text_color_danger">Stop motion capturing</button>
    {% endcall %}
    {% else %}
    <span>Currently not capturing motion</span>
    {% call action_form(url_for('camera_control.start_motion_capturing')) %}
      <button type="submit" class="distinguished_link text_color_go">Start motion capturing</button>
    {% endcall %}
    {% endif %}
  </section>

  <section class="camera_control__configure camera_control__configure_recording">
    <h2>Recording configuration</h2>
    <form method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <ul class="camera_control__configure_list">
        {% for key in recording_config %}

        {% if key == "resolution" %}
        <li class="camera_control__configure_list--item">
          <span>{{ key }}:</span>
          <span>
            <input class="my_form_input" name="{{ key }}" value="{{ recording_config[key][0] }}">
            x {{ recording_config[key][1] }}
          </span>
        </li>
        {% else %}
        <li class="camera_control__configure_list--item">
          {{ key }}:
          <input class="my_form_input" name="{{ key }}" value="{{ recording_config[key] }}">
        </li>
        {% endif %}

        {% endfor %}
        <li>
          <button class="button_submit button_mild_round" type="submit" name="action" value="update_recording_config">
            Update
          </button>
        </li>
      </ul>
    </form>
  </section>

  <section class="camera_control__configure camera_control__configure_motion_capturing">
    <h2>Motion capturing configuration</h2>
    <form method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <ul class="camera_control__configure_list">
        {% for key in motion_capturing_config %}
        <li class="camera_control__configure_list--item">
          {{ key }}:
          <input class="my_form_input" name="{{ key }}" value="{{ motion_capturing_config[key] }}">
        </li>
        {% endfor %}
        <li>
          <button class="button_submit button_mild_round" type="submit" name="action" value="update_motion_capturing_config">
            Update
          </button>
        </li>
      </ul>
    </form>
  </section>

  <section class="camera_control__configure camera_control__configure_streaming">
    <h2>Streaming configuration</h2>
    <form method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
      <ul class="camera_control__configure_list">
        {% for key in streaming_config %}

        {% if key == "resolution" %}
        <li class="camera_control__configure_list--item">
          <span>{{ key }}:</span>
          <span>
            <input class="my_form_input" name="{{ key }}" value="{{ streaming_config[key][0] }}">
            x {{ streaming_config[key][1] }}
          </span>
        </li>
        {% else %}
        <li class="camera_control__configure_list--item">
          {{ key }}:
          <input class="my_form_input" name="{{ key }}" value="{{ streaming_config[key] }}">
        </li>
        {% endif %}

        {% endfor %}
        <li>
          <button class="button_submit button_mild_round" type="submit" name="action" value="update_streaming_config">
            Update
          </button>
        </li>
      </ul>
    </form>
  </section>
</div>
{% endblock %}