{% extends 'base.html' %}

{% block site_content %}
<div class="configure">
  <h1>{% block title %}Configure{% endblock %}</h1>
  <div class="configure__weather_logging">
    <h2>Background sensor measurement</h2>
      <span>
      {% if is_weather_logging %}
      <span>Running background measurements as we speak...  ...</span>
      <a href={{ url_for('configure.stop_weather_logging') }}>Stop it now</a>
      {% else %}
      <span>Currently not running background measurements.</span>
      <a href={{ url_for('configure.start_weather_logging') }}>I want log!</a>
      {% endif %}
    </span>
  </div>
</div>
{% endblock %}
