{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-3.3.1.min.js"></script>
{% endblock %}

{% block site_content %}
<div class="history">
  <h1 class="history__title">{% block title %}Measurements from sensors{% endblock %}</h1>

  <div class="history__graph--temp">
    <div id="temp_graph"></div>
  </div>
  <div class="history__graph--hum">
    <div id="hum_graph"></div>
  </div>
  <div class="history__graph--pres">
    <div id="pres_graph"></div>
  </div>
</div>
{% endblock %}

{% block body %}
<script>
  function calculateStats(dataArray) {
      // filter finite numbers (exclude NaN)
      const validData = dataArray.filter(v => typeof v === 'number' && Number.isFinite(v));
      
      if (validData.length === 0) return { min: '-', max: '-', avg: '-' };

      const min = Math.min(...validData);
      const max = Math.max(...validData);

      const sum = validData.reduce((acc, val) => acc + val, 0);
      const avg = sum / validData.length;

      return {
          min: min.toFixed(1),
          max: max.toFixed(1),
          avg: avg.toFixed(1)
      };
  }


  function getStatsAnnotation(stats, unit) {
      return {
          xref: 'paper',
          yref: 'paper',
          x: 1, // right
          y: 1, // top
          xanchor: 'right',
          yanchor: 'top',

          text: `ᐁ${stats.min} ▲${stats.max},  avg: ${stats.avg}`,
          showarrow: false,
          font: { color: 'white' },
          borderpad: 0
      };
  }

  async function fetchData() {
      const response = await fetch('/measurements/data'); 
      const data = await response.json();

      const tempStats = calculateStats(data.temp);
      const humStats = calculateStats(data.hum);
      const presStats = calculateStats(data.pres);

      let temp_trace = {
          x: data.time,
          y: data.temp,
          type: 'scatter',
          mode: 'lines+markers',
          marker: { size: 4 },
          line: { color: 'red' },
          name: 'Temperature',
          hovertemplate: '%{y} °C at %{x}<extra></extra>'
      };
      
      let hum_trace = {
          x: data.time,
          y: data.hum,
          type: 'scatter',
          mode: 'lines+markers',
          marker: { size: 4 },
          line: { color: 'blue' },
          name: 'Humidity',
          hovertemplate: '%{y} % at %{x}<extra></extra>'
      };
      
      let pres_trace = {
          x: data.time,
          y: data.pres,
          type: 'scatter',
          mode: 'lines+markers',
          marker: { size: 4 },
          line: { color: 'green' },
          name: 'Pressure',
          hovertemplate: '%{y} hPa at %{x}<extra></extra>'
      };

      const darkLayout = {
        dragmode: false,
        paper_bgcolor: 'rgba(0,0,0,0)', // controled by style
        plot_bgcolor: 'rgba(0,0,0,0)',
        margin: { t: 40, r: 20, l: 50, b: 50 },
        xaxis: {
          {# title: { text: 'Time' }, #}
          type: 'date',
          tickformat: '%H:%M',
          color: 'white',
          gridcolor: '#333'
        },
        yaxis: {
          color: 'white',
          gridcolor: '#333'
        },
        title: {
          font: { color: 'white' },
        }
      };

      const config = {
        displayModeBar: false,   // removes the toolbar entirely
        scrollZoom: false,
        responsive: true
      };

      Plotly.newPlot('temp_graph', [temp_trace], {
        ...darkLayout,
        title: {
          text: 'Temperature (°C)',
          ...darkLayout.title
        },
        annotations: [getStatsAnnotation(tempStats, '°C')],
        {# yaxis: {
          ...darkLayout.yaxis,
          title: { text: '°C' }
        } #}
      },
      config);

      Plotly.newPlot('hum_graph', [hum_trace], {
        ...darkLayout,
        title: {
          text: 'Humidity (%)',
          ...darkLayout.title
        },
        annotations: [getStatsAnnotation(humStats, '%')],
        {# yaxis: {
            ...darkLayout.yaxis,
            title: { text: '%' }
          } #}
      },
      config);

      Plotly.newPlot('pres_graph', [pres_trace], {
        ...darkLayout,
        title: { 
          text: 'Absolute atm. pressure (hPa)',
          ...darkLayout.title
        },
        annotations: [getStatsAnnotation(presStats, 'hPa')],
        {# yaxis: {
          ...darkLayout.yaxis,
          title: { text: 'hPa' }
        } #}
      },
      config);
  }

  setInterval(fetchData, {{ logging_rate_sec * 1000 }}); // logging rate in milliseconds
  fetchData();
</script>
{% endblock %}