{% extends 'base.html' %}

{% block site_content %}
<div class="recordings">
  <h1 class="recordings__title">{% block title %}Recordings{% endblock %}</h1>
  
  <form id="recordings__form" method="post">
    <div class="recordings__list">
      <div class="recordings__list--motion_captures">
        <h2>Motion Captures</h2>
          <span class="recordings__form--check_all">
            <input type="checkbox" id="check_all_motion_captures" name="check_all_motion_captures" value="no">
            check all Motion Captures
          </span>
          {% for entry in motion_captures %}
          <span class="recordings__list--item">
            <input type="checkbox" class="motion_capture" name="{{ entry }}" value="no">
            <a href="{{ url_for('recordings.download_motion_capture', filename=entry) }}">{{ entry }}</a>
          </span>
          {% endfor %}
      </div>
      <div class="recordings__list--recordings">
        <h2>Recordings</h2>
          <span class="recordings__form--check_all">
            <input type="checkbox" id="check_all_recordings" name="check_all_recordings" value="no">
            check all Recordings
          </span>
          {% for entry in recordings %}
          <span>
            <input type="checkbox" class="recording" name="{{ entry }}" value="no">
            <a href="{{ url_for('recordings.download_recording', filename=entry) }}">{{ entry }}</a>
          </span>
          {% endfor %}
      </div>
    </div>
    
    <div class="recordings__buttons">
      <button class="recordings__buttons--button background_color_go" type="submit" name="action" value="download_selected">
        Download selected
      </button>
      {% if g.user["is_admin"] == True %}
      <button class="recordings__buttons--button background_color_danger" type="submit" name="action" value="delete_selected">
        Delete selected
      </button>
      {% endif %}
    </div>
  </form>
</div>
{% endblock %}

{% block body %}
<script>
document.addEventListener("DOMContentLoaded", () => {
  /// delete dialog ///
  rec_form = document.getElementById('recordings__form')
  if (rec_form) {
    rec_form.addEventListener('submit', function(event) {
      // submit button type
      const action = event.submitter ? event.submitter.value : null;

      if (action === "delete_selected") {
        if (!confirm("Are you sure you want to delete the selected recordings?")) {
          event.preventDefault(); // Stop the form from sending
        }
      }
    });
  }
  
  /// check all ///
  function attachCheckAll(parentSelector, childSelector) {
    // every child selector is set to parent's value
    const parent = document.querySelector(parentSelector);
    const children = document.querySelectorAll(childSelector);

    // on parents change:
    parent.addEventListener("change", () => {
      // set all children's checkboxes to parent's value
      children.forEach((cb) => cb.checked = parent.checked);
    });
  }

  attachCheckAll("#check_all_motion_captures", ".motion_capture");
  attachCheckAll("#check_all_recordings", ".recording");


  function attachShiftSelect(selector) {
    // shift-select using event listener for checkboxes
    // click, shift+click set's the value to the whole range of boxes
    const checkboxes = document.querySelectorAll(selector)
    let lastIndex = 0; // implicitly selecting from the start

    checkboxes.forEach((cb, index) => {
      cb.addEventListener("click", (event) => {
        // shift+click: apply range
        if (event.shiftKey) {
          const first = Math.min(lastIndex, index);
          const last = Math.max(lastIndex, index);
          const value = cb.checked;

          for (let i = first; i <= last; i++) {
            checkboxes[i].checked = value;
          }
        }
        // always update anchor
        lastIndex = index;
      });
    });
  }
  
  attachShiftSelect(".motion_capture");
  attachShiftSelect(".recording");
});
</script>
{% endblock %}