{# only to be included, does not extend #}
<nav class="navbar">
  <div class="navbar__main">
  {% for label, endpoint in main_nav_links %}
    <a href="{{ url_for(endpoint) }}" class="{% if current_endpoint == endpoint %}link--active{% endif %}">
      {{ label }}
    </a>
  {% endfor %}
  </div>
  <div class="navbar__bottom">
  {% for label, endpoint in bottom_nav_links %}
    <a href="{{ url_for(endpoint) }}" class="{% if current_endpoint == endpoint %}link--active{% endif %}">
      {{ label }}
    </a>
  {% endfor %}
  </div>
</nav>